<a class="show-item movie-card" *ngIf="showItem" [href]="href">
  <div class="show-item-rating">
    <i class="pi pi-star-fill"></i>
    <span>{{ showItem && formatRating(showItem.vote_average) }} / 10</span>
  </div>
  <div class="show-item-image">
    <img
      *ngIf="showItem.poster_path; else defaultMediaPoster"
      [src]="IMAGES_SIZES.large + showItem.poster_path"
      [alt]="showItem.title"
    />
  </div>
  <div class="show-item-title">{{ showItem.title }}</div>
</a>

<ng-template #defaultMediaPoster>
  <img src="assets/images/poster-placeholder.webp" [alt]="showItem?.title" />
</ng-template>
