header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 65px;

  .logo {
    a {
      img {
        width: 8rem;
        margin-left: 2rem;
      }
    }
  }

  .nav {
    ul {
      display: block;
      padding: 0;
      margin: 0;
      list-style: none;
      font-size: 1rem;

      li {
        display: inline;
        margin-right: 15px;

        a {
          color: lightgray;
          text-decoration: none;
        }
      }
    }
  }

  .hamburger-button-container {
    display: none;
    border: none;
    background: transparent;
    margin-right: 1rem;
  }
}

@media (max-width: 775px) {
  header .nav ul {
    font-size: 0.7rem;
 } 

  header {
    .logo {
      a {
        img {
          margin-left: 0.5rem;
        }
      }
    }

    .nav {
      .nav-links {
        display: none;
        border: none;
        background: transparent;
      }
    }

    .hamburger-button-container {
      display: block;
    }

    .hamburger-button-container button {
      border-radius: 5px;
      height: 2.5rem;
      width: 4rem;
      font-size: 1.5rem;
    }
  }

}