<div class="slider" *ngIf="medias">
  <ng-container *ngFor="let media of medias; let mediaIndex = index">
    <ng-container *ngIf="mediaIndex === slideIndex">
      <a
        *ngIf="!isForSingleMedia; else notClickable"
        class="slide"
        @slideFade
        [href]="computeRoute(media.id, media.mediaType)"
      >
        <app-slide [media]="media"></app-slide>
      </a>

      <ng-template #notClickable>
        <app-slide [media]="media"></app-slide>
      </ng-template>
    </ng-container>
  </ng-container>
</div>
