.slider {
  position: relative;
  height: 35rem;

  .slide {
    width:100%;
    height: 35rem;
    position: absolute;

    &-bg {
      height: 35rem;
      position: relative;

      img {
        height: 100%;
        width: 100%;
        object-fit: cover;
        object-position: center 25%;
      }

      &::after {
        position: absolute;
        top: 0;
        left: 0;
        content: '';
        width: 100%;
        height: 100%;
        display: block;
        background-image: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 11%, rgba(255,255,255,0) 100%);
      }
    }

    &-pane {
      position: absolute;
      top: 5rem;
      left: 5rem;

      .title {
        font-size: 2.5rem;

        .domestic-title {
          margin-left: 3rem;
          font-size:1.5rem;
          color: rgb(170, 170, 170);
        }
      }

      .meta {
        font-size: 1.2rem;

        .rating {
          .pi {
            color: rgb(255, 187, 61);
            margin-right: 0.5rem;
          }
        }

        .votes {
          .pi {
            color: rgb(83, 83, 255);
            margin-right: 0.5rem;
          }
        }

        .release-date {
          .pi {
            margin-right: 0.5rem;
          }
        }
      }

      .description {
        font-size: 1.2rem;
        width: 67%;
      }
    }
    
  }
}