<div class="container">
  <div class="grid">
    <div class="col-12">
      <span class="p-input-icon-left">
        <i class="pi pi-search"></i>
        <input
          type="text"
          pInputText
          [(ngModel)]="searchValue"
          (change)="searchMediasByPageAndValue(mediaType, 1, searchValue)"
        />
      </span>
    </div>
  </div>
  <ng-container *ngIf="paginatedMediasList$ | async as paginatedMediasList">
    <div class="grid">
      <div class="col-2" *ngFor="let media of paginatedMediasList.mediasList">
        <app-show-item [showItem]="media"></app-show-item>
      </div>
    </div>
  </ng-container>
  <div class="grid">
    <div class="col-12">
      <p-paginator
        (onPageChange)="onPageChange($event)"
        [rows]="20"
        [totalRecords]="totalRecords"
      ></p-paginator>
    </div>
  </div>
</div>
