<ng-container *ngIf="popularMovies$ | async as popularMovies">
  <app-slider [medias]="popularMovies"></app-slider>
</ng-container>

<ng-container *ngIf="upcomingMovies$ | async as upcomingMovies">
  <app-banner
    [title]="'Upcoming Movies'"
    [medias]="upcomingMovies"
  ></app-banner>
</ng-container>

<ng-container *ngIf="topRatedMovies$ | async as topRatedMovies">
  <app-banner
    [title]="'Top Rated Movies'"
    [medias]="topRatedMovies"
  ></app-banner>
</ng-container>

<ng-container *ngIf="popularTvshows$ | async as popularTvshows">
  <app-banner
    [title]="'Popular TV Shows'"
    [medias]="popularTvshows"
  ></app-banner>

  <ng-container *ngIf="topRatedTvshows$ | async as topRatedTvshows">
    <app-banner
      [title]="'Top Rated TV Shows'"
      [medias]="topRatedTvshows"
    ></app-banner>
  </ng-container>
</ng-container>
